/*Name this external file gallery.css*/
body{
		margin: 2%;
		border: 1px solid black;
		background-color: #b3b3b3;
}
#image{
	line-height: 650px;
		width: 575px;
	height: 650px;
		border:2px solid rgb(201, 173, 96);
		margin:0 auto;
	background-color: #c9b06d;
	background-image: url('');
	background-repeat: no-repeat;
	color:#FFFFFF;
	text-align: center;
	background-size: cover;
	margin-bottom:25px;
	font-size: 150%;
}

.preview{
		width:10%;
		margin-left:17%;
    border: 10px solid black;
}
img{
		width:95%;
}